{% extends 'base-navbar.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid" id="idLOGIN">
        <div class="container">
            <div class="row">
                <div class=" text-center col-12 col-md-12" id="LOGOLOGIN">
                    <a href="{{ path('home') }}"><img src="{{ asset('img/Logo3.png') }}" alt="Logo2LUSCIOL"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 offset-md-2 col-md-8">
                    <form>
                        <input type="password" id="old_password" class="form-control font-italic">
                        <input type="password" id="new_password" class="form-control font-italic">
                        <input type="password" id="new_password_2" class="form-control font-italic">
                    <div class="form-group col-12 col-md-6 mx-auto my-auto">
                        <button class="btn bg-white btn-block">Valider</button>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <img id="DEMILOGO" class="d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
    </div>
{% endblock %}