body{
    background-image: url('../img/fond2.png');
    background-repeat: repeat-y;
}

#idLOGIN, #contentLogin{
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow-y: auto;
}

#contentLoginAdmin{
    margin-top: 25vh!important;
}

#contentManageAddress, #contentManageUser{
    margin-top: 2vh;
}

/*Affichage des checkbox inline*/
#update_user_roles{
    display: flex;
    justify-content: space-around;
}

.flashDiv{
    height: 7vh;
    margin-top: 12vh;
}