@font-face {
 font-family: "TektonPro-BoldCond";
 src: url("../typo/TektonPro-BoldCond.otf") format("otf");
}

/*NAVBAR*/

#burgerHome{
	color: #fff;
}

#navbarHompage{
	background: transparent!important;
	position: static!important;
}

.connectHome i{
	font-size: 1.5rem;
	color: white;
	margin-top: 30px;
	margin-right: 30px;
	padding-left: 25px;
}

.connectHome i::before{
	position: absolute;
	top: 26px;
}

.allNavItems{
	color: #fff!important;
	font-size: 1.2rem;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: -15px;
	transition: 0.3s ease;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding-bottom: 25px;
}

.allNavItems:hover{
border-bottom: 1px solid white;
padding: 8px 0;
color: white;
}



/*HOMEPAGE*/

body{
	 background: #1b1e21 url('../img/fond2.png');
	 height: 100vh;
}

#mainbgimg, #mainbgimg2{
	position: absolute;
	width: 58%;
}

#SloganLUSCIOL{
	font-family: 'Abril Fatface', cursive;
	color: white;
	z-index: 3;
	font-size: 5rem;
	line-height: 5rem;
}

#BUTTONMap{
	display: none;
	z-index: 3;
	color: rgb(52, 58, 64);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 1rem;
}

#BUTTONMap button{
	background-color: #fff;
}

@media all and (max-width: 1700px) {
	#SloganLUSCIOL{
		font-size: 4rem;
	}
}

@media all and (max-width: 1500px) {
	#SloganLUSCIOL{
		font-size: 3rem;
	}
}

@media all and (max-width: 1200px) {
	#SloganLUSCIOL{
		font-size: 2.5rem;
	}
}

