@font-face {
 font-family: "TektonPro-BoldCond";
 src: url("../typo/TektonPro-BoldCond.otf") format("otf");
}

body{
	overflow: hidden;
	background-color: #1b1e21;
}

/*NAVBAR*/

#navbarHompage{
	background: transparent!important;
}

#toplowR{
	display: none;
}

.connectHome i{
	font-size: 1.5rem;
	color: white;
	margin-top: 30px;
	margin-right: 30px;
	padding-left: 25px;
}

.connectHome i::before{
	position: absolute;
	top: 26px;
}

.allNavItems{
	color: #fff!important;
	font-size: 1.2rem;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: -15px;
	transition: 0.3s ease;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding-bottom: 25px;
}

.allNavItems:hover{
border-bottom: 1px solid white;
padding: 8px 0;
color: white;
}

/*FOND DE CARTE GIF*/

#gifMAP{
	position: absolute;
	z-index: -10;
	top: 64px;
	left : 200px;
}

#gifMAP img{
	height: 920px;
	width: auto;
}

/*Background MAIN (principal = fond degradé)*/

#mainbg{
	padding: 0;
}

#mainbgimg, #mainbgimg2, #fondseul{
	position: absolute;
	width: 1920px;
	height: 969px;
	z-index:1;  
	padding : 0;
}

#fondseul{
	position: absolute;
	top: 969px;
}

#mainViewHeight{
	height: 100vh;
}


#SloganLUSCIOL{
	font-family: 'Abril Fatface', cursive;
	color: white;
	z-index: 3;
	font-size: 5rem;
	line-height: 5rem;
	margin-top: 30vh;
	position: relative;
}

#BUTTONMap{
	display: none;
	z-index: 3;
	color: rgb(52, 58, 64);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 1rem;
}

#BUTTONMap button{
	background-color: #fff;
}


/*CONTAIN*/

#LOGO2LUSCIOL{

}

.ConceptLUSCIOl p{ 
	font-family: 'PT Serif', serif;
	font-size: 1.5rem;
}

.BESTPlans span{
	color: #343a40;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.3rem; 
}
/*Footer*/

/*.FOOTERHome{
	background-color: #343a40; 
	height: 50px;
	margin-top: 50px; 
}*/


/*MEDIA QUERY*/

@media all and (max-width: 1800px){
	#mainbgimg, #mainbgimg2{
		width: 1800px;
		height: 908px;
	}

	#gifMAP{
		top: 63px;
		left : 176px;
	}

	#gifMAP img{
		height: 862px;
		width: auto;
	}

	#fondseul{
		position: absolute;
		top: 908px;
	}
}

@media all and (max-width: 1700px){
	#mainbgimg, #mainbgimg2{
		width: 1700px;
		height: 859px;
	}

	#gifMAP{
		top: 61px;
		left : 168px;
	}

	#gifMAP img{
		height: 815px;
		width: auto;
	}

	#fondseul{
		position: absolute;
		top: 859px;
	}
}

@media all and (max-width: 1600px){
	/* Rattrapage du decallage en low Résolution*/
	#toplowR{
		display: block;
		height: 50px;
		width: 1600px;
	}


	#mainbgimg, #mainbgimg2{
		width: 1600px;
		height: 807px;
	}
	#gifMAP{
		top: 61px;
		left : 162px;
	}

	#gifMAP img{
		height: 766px;
		width: auto;
	}

	#fondseul{
		position: absolute;
		top: 807px;
	}
	#SloganLUSCIOL{

		margin-top: 15vh;
		font-size: 4rem;
	}

}

@media all and (max-width: 1500px){

	#mainbgimg, #mainbgimg2{
		width: 1500px;
		height: 757px;
	}
	#gifMAP{
		top: 46px;
		left : 144px;
	}

	#gifMAP img{
		height: 719px;
		width: auto;
	}

	#fondseul{
		position: absolute;
		top: 755px;
	}
}

@media all and (max-width: 1400px){

	#toplowR{
		display: block;
		height: 50px;
		width: 2000px;
	}

	#mainbgimg, #mainbgimg2{
		width: 1400px;
		height: 706px;
	}
	#gifMAP{
		top: 38px;
		left : 131px;
	}

	#gifMAP img{
		height: 671px;
		width: auto;
	}

	#fondseul{
		position: absolute;
		top: 706px;
	}
}

@media all and (max-width: 1200px){
	#mainbgimg, #mainbgimg2{
		width: 1700px;
		height: 859px;
	}
}

/*@media all and (min-width: 1200px) and (max-width: 1500px){*/
	/*#SloganLUSCIOL, #BUTTONMap{*/
		/*padding-left: 80px!important;*/
	/*}*/

	/*#SloganLUSCIOL{*/
		/*margin-top: 20vh;*/

	/*}*/
/*}*/


/* Ecran < Large*/
@media all and (max-width: 992px){
	#SloganLUSCIOL{
		font-size: 3rem;
		line-height: 5rem;
		margin-top: 30vh;
	}

	#HomenavbarContent ul{
		text-align: right;
	}

	#burgerHome{
		color: #fff;
	}

	.connectHome i::before{
		position: static;
	}

	.connectHome{
		margin-top: -30px;
	}

	.allNavItems{
		color: #fff!important;
		font-size: 1.3rem;
		font-family: 'Roboto Condensed', sans-serif;
		margin-top: -15px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		padding-bottom: 8px;
	}

	.allNavItems:hover{
		padding: 8px 0;
		border-bottom: 1px solid transparent;
		color: #818182!important;
	}
}