/* BACKGROUND */
body{
	background-image: url('../img/fond2.png');
	background-repeat: repeat-y;
}
#idLOGIN{

	height: 100vh;
	position: relative; 
	z-index: 0;
	overflow-y: auto;
}

/*Ne pas afficher le logo en haut a droite*/



/* LOGO LOGIN */

#LOGOLOGIN{
	margin-top: 10vh; 
}

/* POLICES */

#LOGINPolice{
	font-family:'Roboto Condensed', sans-serif;
	font-size: 2.2rem; 
	font-style: italic;
}

#LOGINPolice2{
	font-family:'Roboto Condensed', sans-serif;
	font-size: 2.2rem; 
	font-style: italic;
	color: white; 
}

/* MOT DE PASSE */

#MDPLOST a{
	color: white;
}

#MDPLOST a:hover{
	text-decoration: none;
	border: 1px solid white;
	border-radius: 3px;
	padding: 5px 9px;
}

/*LOGO CLIGNOTANT*/

#DEMILOGO{
	position: absolute;
	z-index: -1;
	bottom: 0vh;
	left: 11%;
}
