@font-face {
 font-family: "TektonPro-BoldCond";
 src: url("../typo/TektonPro-BoldCond.otf") format("otf");
}

/*HOME*/

/*HEADER*/

.container-fluid{
	padding: 0 !important; 
}

/*CONTAIN*/

.ConceptLUSCIOl h1{
	color: rgb(88, 89,91);
	margin-top: 50px; 
	font-size: 3rem; 
	font-family: 'TektonPro-BoldCond'; 
	text-align: center;
}

.ConceptLUSCIOl p{
	margin-top: 20px; 
	font-family: 'PT Serif', serif;
	text-align: justify;
  	text-justify: inter-word;
}

.barre{
	text-align: center; 
}


/*NAVBAR*/

.Connect i{
	font-size: 1.5rem;
	color: white;
}

.nav-item a{
	color: white;
	font-size: 1.5rem; 
	font-family: 'TektonPro-BoldCond'; 
	margin-left: 50px;
	text-decoration: none;
	padding-bottom: 10px;
	color: black;
	transition: 0.3s ease;
	text-decoration: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding: 10px 0;
}

.nav-item a:hover{
	text-decoration: none;
	border-top: 2px solid #d2d5db;
	border-bottom: 2px solid #d2d5db;
	padding: 2px 0; 
	color: #d2d5db;

}

.background{
	background-image: url('../img/fond1.jpg'); 
	background-repeat: no-repeat; 
	height: 800px;
	z-index: 0; 
	position: relative;
}

.Arrow{
	color: white;
	text-align: center; 
	position: relative; 
	z-index: 1; 
	top: 730px;
}

/*/adresse/all*/

#map {
    height: 100vh;
    width: 100%;
	margin-top: 50px;
}

#addressList{
	margin-top: 50px;
	height: 80vh;
	background-color: #d7dae0;
	overflow-y: scroll;
	padding : 0;
}

.linkToSingle, #addressList a:hover {
	text-decoration: none;
	color: black;
}

#addressList a:hover{
	text-decoration: none;
	color: black;
}

.oneShop{
	padding: 0 20px;
}

/*Formulaire de modification sur la page http://localhost:8000/admin/manageAddress*/
#addressForm{
	display: none;
}