/* Navbar */

.Connect i{
	font-size: 1.5rem;
	color: white;
	margin-right: 30px;
}

.Profile i{
	font-size: 1.5rem;
	color: white;
	margin-right: 30px;
}


/*/adresse/all*/

#map {
    height: 100vh;
    width: 100%;
}
.searchCat > div:hover{
	cursor: pointer;
}
#addressList{
	height: 100vh;
	max-height: 100vh;
	background-color: white;
	overflow-y: scroll;
	padding : 0;
}

.linkToSingle p{
	margin: 0;
}
.hoverItem:hover{
	background-color: #E9ECEF;
}

#addressList a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;

}

.oneShop{
	padding: 0 20px;
}

/*DISPLAY AVERAGE*/
span.stars, span.stars span {
	 display: block;
	 background: url(../img/stars.png) 0 -16px repeat-x;
	 width: 80px;
	 height: 16px;
 }

span.stars span {
	background-position: 0 0;
}
span.starsSingle, span.starsSingle span {
	display: block;
	background: url(../img/stars.png) 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.starsSingle span {
	background-position: 0 0;
}

/*AJOUT DU CSS DES ÉTOILES*/

.rating {
	display: inline-block;
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
}

.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}

.rating label:last-child {
	position: static;
}

.rating label:nth-child(1) {
	z-index: 5;
}

.rating label:nth-child(2) {
	z-index: 4;
}

.rating label:nth-child(3) {
	z-index: 3;
}

.rating label:nth-child(4) {
	z-index: 2;
}

.rating label:nth-child(5) {
	z-index: 1;
}

.rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rating label .icon {
	float: left;
	color: transparent;
}

.rating label:last-child .icon {
	color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
	color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
	color: #000;
	text-shadow: 0 0 5px #09f;
}

/*Formulaire de modification sur la page http://localhost:8000/admin/manageAddress*/
#addressForm{
	display: none;
}

#updateUserForm{
	display: none;
}


/*Responsive MAP*/
@media only screen and (max-width: 991px) {
	#map{
		height: 70vh;
		float: left;
	}
	#addressList{

		overflow-y: visible;
		float: left;

	}
	
}