
/*/adresse/all*/

#map {
    height: 100vh;
    width: 100%;
	margin-top: 50px;
}
.searchCat > span:hover{
	cursor: pointer;
}
#addressList{
	margin-top: 50px;
	height: 80vh;
	background-color: #d7dae0;
	overflow-y: scroll;
	padding : 0;
}

.linkToSingle, #addressList a:hover {
	text-decoration: none;
	color: black;
}

#addressList a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.oneShop{
	padding: 0 20px;
}

/*Formulaire de modification sur la page http://localhost:8000/admin/manageAddress*/
#addressForm{
	display: none;
}