{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container-fluid" id="idLOGIN">
        <div class="container">
            <div id="contentLoginAdmin" class="col-12">
                <div class="row">
                <a href="{{ path('manageAddress')}}" class="col-12 col-md-6 text-center"><button id="manageShops" class="btn btn-white px-4 py-4">Gérer les magasins</button></a>
                <a href="{{ path('manageUsers')}}" class="col-12 col-md-6 text-center"><button class="btn btn-white px-4 py-4">Gérer les utilisateurs</button></a>
            </div>
            </div>
            <div id="adminResultContent">

            </div>
        </div>
    </div>

{% endblock %}

