{% extends 'base-navbar.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div class="col-12 offset-md-2 col-md-8 d-flex justify-content-between">
                <a href="{{ path('manageAddress')}}">
                    <button class="btn btn-info">Gérer les magasins</button>
                </a>
                <a href="{{ path('manageAddress')}}">
                    <button class="btn btn-info">Gérer les utilisateurs</button>
                </a>
                <a href="{{ path('manageAddress')}}">
                    <button class="btn btn-info">Gérer le Blog</button>
                </a>
                <a href="{{ path('manageAddress')}}">
                    <button class="btn btn-info">Messagerie</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
