{% extends 'base-navbar.html.twig' %}

{% block title %}Manage Address{% endblock %}

{% block body %}

    <div class="container-fluid">
        <container>
            <h2 class="text-center">Valider l'enregistrement d'un magasin</h2>
            <div class="form-group col-6 col-md-3 mt-5 mx-auto">
                <select id="selectPendingAddress" class="form-control" name="selectPendingAddress">
                    <option value="null">Adresses en attente de validation</option>
                    {% for address in pendingAddress %}
                        <option value="{{ address.id }}">{{ address.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="pendingResult" class="col-6 col-md-3 mt-5 mx-auto">
            </div>
        </container>
    </div>
    <div id="results"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            // Requete AJAX pour l'affichage d'une adresse a valider
            $('#selectPendingAddress').on('change', function(){

                pendingAddressId = $('#selectPendingAddress option:selected').val();
                console.log(pendingAddressId);

                $.ajax({
                    type: 'post',
                    url: '{{ path("pendingResult") }}',
                    data: 'address_id=' + pendingAddressId,
                    datatype: 'html',
                    success: function(result){
                        $("#pendingResult").html(result);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });
            })
            // Affichage du formulaire pour modification
            $('#pendingResult').on('click', '#modify', function(){
                $('#addressForm').css('display', 'block');
                $('#addressDescription').css('display', 'none');
            })

            $('#pendingResult').on('submit', '#validateAfterModif', function(e){
                e.preventDefault();
                var form_data = ($("#modifyAddressByAdmin").serialize());
                console.log(form_data);

            })







        })




    </script>
{% endblock %}