{% extends 'base.html.twig' %}

{% block title %}LUSCIOL{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="backgroundHome">
		</div>

		<div class="LogoLUSCIOL">
	<!--FICHIER ILLUSTRATOR SVG-->
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="142.5px"
	 		height="64.5px" viewBox="0 0 142.5 64.5" enable-background="new 0 0 142.5 64.5" xml:space="preserve">

				<g id="Calque_1">
				<g>

				<defs>
					<rect id="SVGID_1_" x="7.5" y="6.223" width="126.648" height="48.277"/>
				</defs>

				<clipPath id="SVGID_2_">
					<use xlink:href="#SVGID_1_"  overflow="visible"/>
				</clipPath>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M115.264,16.262c-0.91-0.613-0.834-2.309,0.162-3.787
				c1-1.481,2.541-2.183,3.451-1.569c0.906,0.611,0.836,2.306-0.162,3.787C117.717,16.17,116.17,16.874,115.264,16.262
			 	M119.781,9.563c-1.363-0.919-3.68,0.136-5.178,2.356c-1.498,2.22-2.451,8.092-2.051,8.362c0.385,0.26,5.486-2.814,6.984-5.035
				S121.145,10.482,119.781,9.563"/>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M105.271,14.3c-1.096-0.039-1.932-1.518-1.868-3.3
				c0.062-1.785,0.997-3.196,2.095-3.158c1.092,0.038,1.931,1.512,1.867,3.298C107.304,12.92,106.365,14.338,105.271,14.3
				 M105.554,6.225c-1.644-0.058-3.05,2.063-3.144,4.742c-0.093,2.677,2.211,8.16,2.692,8.178c0.465,0.017,3.162-5.294,3.255-7.971
				C108.451,8.496,107.196,6.281,105.554,6.225"/>

				<g clip-path="url(#SVGID_2_)">
				<path fill="#FFFFFF" d="M13.753,47.356l5.311-0.813c0.343-0.301,1.071-0.601,1.414-0.601c0.771,0,1.842,0.472,1.842,1.885
				c0,1.457-0.729,2.185-1.67,2.185c-0.3,0-0.814-0.086-1.199-0.214l-6.083,0.985c-0.428,0.085-1.199,0.214-1.713,0.214
				c-1.242,0-2.185-0.557-2.185-1.799c0-0.771,0.257-1.242,0.6-1.499v-21.63c-0.128-0.3-0.3-0.729-0.3-1.071
				c0-1.713,1.071-2.27,2.27-2.27c1.028,0,2.099,0.385,2.099,2.227c0,0.386-0.257,0.814-0.385,1.157V47.356z"/>

				<path fill="#FFFFFF" d="M24.716,45.215V25.598c-0.728-1.37,0.257-2.655,1.713-2.655c1.627,0,1.799,1.585,1.799,2.313v20.303
				c0.3,1.027,1.242,2.056,2.656,2.056c4.412,0,6.425-3.298,6.425-4.454V25.427c-0.257-0.257-0.386-0.557-0.386-0.985
				c0-1.113,1.028-1.885,2.356-1.885c0.813,0,1.713,0.472,1.713,1.628c0,0.3,0,0.6-0.171,0.856V43.63
				c0,0.771-0.729,2.913-1.842,4.026c-2.313,2.228-5.012,3.427-8.095,3.427C26.001,51.083,24.759,47.699,24.716,45.215z"/>

				<path fill="#FFFFFF" d="M61.422,26.84c0,0.985-0.301,1.756-1.671,1.756c-1.585,0-2.228-0.685-2.185-1.541
				c-0.343-0.729-1.242-1.242-2.484-1.242c-3.041,0-6.167,3.469-6.167,6.682c0,1.627,0.557,2.227,1.499,2.227
				s2.141-0.343,3.94-0.899c1.757-0.6,2.956-0.942,4.67-0.942c2.826,0,4.883,1.885,4.883,5.611c0,2.441-0.472,4.497-1.5,6.125
				c-2.441,3.94-7.495,6.382-11.307,6.382c-4.412,0-5.954-4.112-5.954-5.439c0-1.156,0.856-2.356,2.099-2.356
				c1.328,0,1.456,1.671,1.842,2.699c0.428,1.156,1.199,1.884,2.355,1.884c2.613,0,6.082-2.013,7.71-4.668
				c0.771-1.199,0.942-2.827,0.942-4.455c0-1.884-0.729-2.483-1.928-2.483c-1.328,0-2.355,0.342-4.111,0.941s-3.084,0.9-4.541,0.9
				c-2.441,0-4.412-1.328-4.412-5.055c0-4.711,4.754-10.365,10.837-10.365C58.766,22.6,61.422,25.213,61.422,26.84z"/>

				<path fill="#FFFFFF" d="M83.135,26.24c0,1.628-0.9,2.271-1.971,2.271c-1.199,0-1.67-0.515-1.842-1.628
				c-0.086-0.686-1.113-1.242-2.484-1.242c-3.982,0-6.725,9.595-6.725,14.049c0,5.611,2.057,8.053,3.684,8.053
				c1.799,0,4.197-1.457,5.055-3.084c0.086-1.114,0.214-2.527,2.056-2.527c1.327,0,1.842,1.07,1.842,1.756s-0.086,1.456-1.028,2.741
				c-1.113,1.542-4.326,4.497-8.395,4.497c-3.983,0-7.024-3.683-7.024-11.649c0-5.611,3.726-17.219,10.579-17.219
				C81.25,22.257,83.135,24.698,83.135,26.24z"/>

				<path fill="#FFFFFF" d="M90.199,47.143c0.301,0.385,0.558,0.856,0.558,1.413c0,0.942-0.942,2.013-2.356,2.013
				c-1.498,0-2.484-0.771-2.484-2.056c0-0.557,0.258-1.07,0.6-1.542V26.369c-0.385-0.215-0.471-0.729-0.471-1.199
				c0-1.457,1.371-2.441,2.656-2.441c1.67,0,2.141,1.284,2.141,2.27c0,0.557-0.171,1.114-0.643,1.628V47.143z"/>
				</g>

				<g clip-path="url(#SVGID_2_)">
				<path fill="#FFFFFF" d="M123.778,48.256l5.312-0.813c0.342-0.3,1.07-0.601,1.413-0.601c0.771,0,1.842,0.472,1.842,1.885
				c0,1.457-0.729,2.185-1.671,2.185c-0.299,0-0.813-0.086-1.199-0.214l-6.082,0.985c-0.428,0.085-1.199,0.214-1.713,0.214
				c-1.242,0-2.185-0.557-2.185-1.799c0-0.771,0.257-1.242,0.6-1.499v-21.63c-0.128-0.3-0.3-0.729-0.3-1.071
				c0-1.713,1.07-2.27,2.27-2.27c1.028,0,2.1,0.385,2.1,2.227c0,0.386-0.258,0.814-0.386,1.157V48.256z"/>
				</g>

				<path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M104.641,40.441c-4.064,0-7.343-3.292-7.343-7.344
				c0-4.062,3.278-7.343,7.343-7.343c4.053,0,7.342,3.281,7.342,7.343C111.982,37.149,108.693,40.441,104.641,40.441 M104.641,22.078
				c-6.09,0-11.021,4.93-11.021,11.02c0,6.088,9.233,18.362,11.021,18.362c1.723,0,11.018-12.274,11.018-18.362
				C115.658,27.008,110.729,22.078,104.641,22.078"/>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M104.506,37.689c2.609,0,4.725-2.116,4.725-4.727
				c0-2.609-2.115-4.725-4.725-4.725c-2.61,0-4.725,2.115-4.725,4.725C99.781,35.573,101.896,37.689,104.506,37.689"/>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M114.968,16.932c1.175,0.792,3.063,0.046,4.218-1.666
				c1.155-1.713,1.14-3.742-0.035-4.534c-1.174-0.792-3.063-0.047-4.217,1.666C113.777,14.109,113.794,16.14,114.968,16.932"/>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M105.376,15.023c1.416,0.049,2.622-1.584,2.694-3.647
				c0.072-2.064-1.018-3.778-2.434-3.827c-1.416-0.051-2.621,1.583-2.693,3.647S103.96,14.975,105.376,15.023"/>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M94.934,16.262c0.91-0.612,0.834-2.309-0.163-3.787
				c-1-1.481-2.541-2.183-3.45-1.569c-0.906,0.611-0.837,2.306,0.162,3.787C92.479,16.17,94.026,16.874,94.934,16.262 M90.416,9.564
				c1.362-0.92,3.68,0.135,5.178,2.355c1.498,2.22,2.451,8.092,2.051,8.362c-0.385,0.26-5.487-2.814-6.984-5.035
				C89.162,13.026,89.053,10.483,90.416,9.564"/>

				<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M95.229,16.932c-1.174,0.792-3.063,0.046-4.218-1.666
				c-1.155-1.713-1.14-3.742,0.035-4.534s3.063-0.047,4.218,1.666C96.418,14.109,96.402,16.14,95.229,16.932"/>
				</g>
				</g>

				<g id="Calque_2">
				</g>
			</svg>
		</div>
	</div>
			
{% endblock %}
