{% extends 'base-navbar.html.twig' %}

{% block title %}LUSCIOL{% endblock %}

{% block body %}
<div id="container" class="stars">
		<div class="row">

				<div class="col-md-12">
			         <div class="twinkling img-reponsive">
					</div>
				</div>
				
		

		

	 	</div>
 	</div>


	
{% endblock %}
