{% extends 'base-navbar.html.twig' %}

{% block title %}LUSCIOL{% endblock %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">{{ message}}</div>
		{% endfor %}
	{% endfor %}

	<!--HEADER-->

	<div class="container-fluid">
		<div class="background">
			 <div class="Arrow">
			 	<i class="fas fa-angle-down fa-3x"></i>
			 </div>
		</div>
	</div>

	<!--CONTAIN-->

	<div class="container">

		<div class="ConceptLUSCIOl">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="141.356px" height="52.055px" viewBox="0 0 141.356 52.055" enable-background="new 0 0 141.356 52.055"
	 xml:space="preserve">
<g id="Calque_2">
</g>
<g id="Calque_1">
	<g>
		<defs>
			<rect id="SVGID_1_" x="-10.883" width="201.176" height="67.467"/>
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_"  overflow="visible"/>
		</clipPath>
		<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M122.009,11.425c-1.036-0.698-0.949-2.627,0.186-4.31
			c1.138-1.686,2.893-2.484,3.926-1.786c1.032,0.696,0.953,2.624-0.184,4.309C124.802,11.321,123.04,12.122,122.009,11.425
			 M127.15,3.802c-1.552-1.046-4.188,0.154-5.894,2.682c-1.704,2.526-2.789,9.209-2.333,9.517c0.438,0.295,6.243-3.203,7.947-5.73
			C128.578,7.742,128.701,4.848,127.15,3.802"/>
		<path clip-path="url(#SVGID_2_)" fill="#5CB5BD" d="M110.637,9.192c-1.247-0.044-2.197-1.727-2.126-3.755
			c0.071-2.032,1.135-3.638,2.383-3.595c1.244,0.042,2.198,1.721,2.126,3.754C112.949,7.622,111.882,9.234,110.637,9.192
			 M110.958,0.001c-1.871-0.064-3.471,2.349-3.578,5.398c-0.105,3.047,2.516,9.287,3.064,9.308c0.528,0.019,3.599-6.025,3.704-9.072
			C114.256,2.587,112.827,0.066,110.958,0.001"/>
	</g>
	<g>
		<path fill="#343A40" d="M6.476,46.816l6.043-0.927c0.39-0.341,1.219-0.682,1.608-0.682c0.877,0,2.096,0.536,2.096,2.145
			c0,1.656-0.829,2.485-1.901,2.485c-0.341,0-0.926-0.098-1.364-0.244l-6.921,1.121c-0.487,0.098-1.364,0.244-1.949,0.244
			c-1.414,0-2.486-0.634-2.486-2.047c0-0.878,0.292-1.414,0.683-1.706V22.593c-0.146-0.341-0.341-0.828-0.341-1.218
			c0-1.95,1.218-2.583,2.583-2.583c1.17,0,2.388,0.438,2.388,2.534c0,0.439-0.292,0.926-0.438,1.316V46.816z"/>
		<path fill="#343A40" d="M18.954,44.378V22.057c-0.828-1.56,0.292-3.021,1.95-3.021c1.852,0,2.047,1.803,2.047,2.632v23.102
			c0.341,1.169,1.414,2.339,3.022,2.339c5.02,0,7.31-3.753,7.31-5.068V21.862c-0.292-0.292-0.438-0.633-0.438-1.121
			c0-1.267,1.17-2.144,2.681-2.144c0.926,0,1.949,0.536,1.949,1.852c0,0.341,0,0.682-0.195,0.975v21.152
			c0,0.877-0.829,3.313-2.096,4.581c-2.632,2.534-5.702,3.898-9.211,3.898C20.417,51.055,19.003,47.206,18.954,44.378z"/>
		<path fill="#343A40" d="M60.725,23.471c0,1.121-0.341,1.998-1.901,1.998c-1.803,0-2.534-0.78-2.486-1.754
			c-0.39-0.829-1.413-1.414-2.827-1.414c-3.46,0-7.018,3.948-7.018,7.603c0,1.853,0.634,2.534,1.706,2.534s2.437-0.39,4.484-1.023
			c1.998-0.683,3.363-1.072,5.312-1.072c3.217,0,5.556,2.145,5.556,6.385c0,2.778-0.536,5.117-1.706,6.97
			c-2.778,4.483-8.529,7.262-12.866,7.262c-5.02,0-6.774-4.679-6.774-6.189c0-1.316,0.975-2.681,2.388-2.681
			c1.511,0,1.657,1.9,2.096,3.07c0.487,1.315,1.364,2.145,2.68,2.145c2.973,0,6.921-2.291,8.772-5.313
			c0.877-1.365,1.072-3.217,1.072-5.068c0-2.145-0.828-2.827-2.193-2.827c-1.511,0-2.681,0.39-4.679,1.072
			c-1.999,0.683-3.509,1.023-5.166,1.023c-2.778,0-5.02-1.511-5.02-5.751c0-5.361,5.41-11.794,12.331-11.794
			C57.703,18.646,60.725,21.619,60.725,23.471z"/>
		<path fill="#343A40" d="M85.438,22.789c0,1.852-1.023,2.583-2.242,2.583c-1.364,0-1.9-0.585-2.096-1.852
			c-0.098-0.78-1.267-1.414-2.826-1.414c-4.533,0-7.652,10.917-7.652,15.985c0,6.385,2.339,9.163,4.191,9.163
			c2.047,0,4.776-1.657,5.75-3.51c0.098-1.267,0.244-2.875,2.34-2.875c1.511,0,2.096,1.219,2.096,1.998
			c0,0.78-0.098,1.657-1.17,3.119c-1.268,1.755-4.923,5.117-9.552,5.117c-4.533,0-7.993-4.191-7.993-13.256
			c0-6.385,4.24-19.592,12.038-19.592C83.293,18.256,85.438,21.034,85.438,22.789z"/>
		<path fill="#343A40" d="M93.53,46.572c0.342,0.438,0.634,0.975,0.634,1.608c0,1.072-1.072,2.291-2.681,2.291
			c-1.705,0-2.826-0.878-2.826-2.34c0-0.634,0.292-1.219,0.682-1.755V22.935c-0.438-0.244-0.536-0.829-0.536-1.365
			c0-1.657,1.561-2.778,3.022-2.778c1.9,0,2.437,1.462,2.437,2.583c0,0.634-0.195,1.267-0.731,1.852V46.572z"/>
	</g>
	<g>
		<path fill="#343A40" d="M131.697,47.839l6.044-0.927c0.39-0.341,1.218-0.682,1.608-0.682c0.877,0,2.096,0.536,2.096,2.145
			c0,1.656-0.829,2.485-1.901,2.485c-0.341,0-0.926-0.098-1.364-0.244l-6.921,1.121c-0.487,0.098-1.364,0.244-1.949,0.244
			c-1.413,0-2.485-0.634-2.485-2.047c0-0.878,0.292-1.414,0.682-1.706V23.617c-0.146-0.341-0.341-0.828-0.341-1.218
			c0-1.95,1.219-2.583,2.583-2.583c1.17,0,2.388,0.438,2.388,2.534c0,0.439-0.292,0.926-0.438,1.316V47.839z"/>
	</g>
	<g>
		<defs>
			<rect id="SVGID_3_" x="-10.883" width="201.176" height="67.467"/>
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_"  overflow="visible"/>
		</clipPath>
		<path clip-path="url(#SVGID_4_)" fill="#343A40" d="M109.918,38.945c-4.624,0-8.356-3.746-8.356-8.359
			c0-4.622,3.732-8.356,8.356-8.356c4.613,0,8.356,3.734,8.356,8.356C118.274,35.199,114.531,38.945,109.918,38.945 M109.918,18.045
			c-6.931,0-12.542,5.611-12.542,12.541s10.509,20.9,12.542,20.9c1.961,0,12.541-13.971,12.541-20.9S116.846,18.045,109.918,18.045"
			/>
		<path clip-path="url(#SVGID_4_)" fill="#5CB5BD" d="M109.765,35.812c2.97,0,5.378-2.408,5.378-5.379
			c0-2.97-2.408-5.377-5.378-5.377s-5.378,2.408-5.378,5.377C104.387,33.404,106.795,35.812,109.765,35.812"/>
		<path clip-path="url(#SVGID_4_)" fill="#5CB5BD" d="M121.672,12.188c1.336,0.901,3.487,0.052,4.801-1.896
			c1.314-1.95,1.297-4.259-0.039-5.162c-1.339-0.901-3.486-0.052-4.802,1.896C120.318,8.976,120.336,11.286,121.672,12.188"/>
		<path clip-path="url(#SVGID_4_)" fill="#5CB5BD" d="M110.755,10.016c1.612,0.055,2.984-1.803,3.067-4.153
			c0.081-2.349-1.159-4.299-2.77-4.354c-1.612-0.058-2.985,1.801-3.065,4.15C107.904,8.01,109.144,9.96,110.755,10.016"/>
		<path clip-path="url(#SVGID_4_)" fill="#5CB5BD" d="M98.871,11.425c1.035-0.698,0.948-2.627-0.187-4.31
			c-1.138-1.686-2.892-2.484-3.927-1.786c-1.032,0.696-0.951,2.624,0.186,4.309C96.078,11.321,97.838,12.122,98.871,11.425
			 M93.728,3.802c1.552-1.046,4.189,0.154,5.894,2.682c1.706,2.526,2.789,9.209,2.335,9.517c-0.438,0.295-6.245-3.203-7.949-5.73
			C92.301,7.742,92.178,4.848,93.728,3.802"/>
		<path clip-path="url(#SVGID_4_)" fill="#5CB5BD" d="M99.206,12.188c-1.336,0.901-3.485,0.052-4.8-1.896
			c-1.315-1.95-1.296-4.259,0.04-5.162c1.336-0.901,3.485-0.052,4.801,1.896C100.562,8.976,100.543,11.286,99.206,12.188"/>
	</g>
</g>
</svg>

		</div>

		<div class="barre">
			<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="163.564px" height="9px" viewBox="0 0 163.564 9" enable-background="new 0 0 163.564 9" xml:space="preserve">
			<line fill="none" stroke="#58595B" stroke-miterlimit="10" x1="0" y1="5" x2="163.564" y2="5"/>
			</svg>
		</div>

			<p>Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro firmatum, ubi conduntur nunc usque commeatus distribui militibus omne latus Isauriae defendentibus adsueti. circumstetere igitur hoc munimentum per triduum et trinoctium et cum neque adclivitas ipsa sine discrimine adiri letali, nec cuniculis quicquam geri posset, nec procederet ullum obsidionale commentum, maesti excedunt postrema vi subigente maiora viribus adgressuri.Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est. Sericum enim et Asbolium supra dictos.</p>
		</div>
	</div>
	  			





	
{% endblock %}
