{% extends 'base-navbar.html.twig' %}

{% block title %}LUSCIOL{% endblock %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">{{ message}}</div>
		{% endfor %}
	{% endfor %}

<div id="container" class="stars">
		<div class="row">

				<div class="col-md-12">
			         <div class="twinkling img-reponsive">
					</div>
				</div>
				
		

		

	 	</div>
 	</div>


	
{% endblock %}
